---
import { cn } from "@/lib/utils";

interface Props {
  className?: string;
}

const { className }: Props = Astro.props;
---

<h4 class={cn("text-xl font-semibold uppercase mb-4", className)}>
  <slot />
</h4>
