---
import { Image } from "astro:assets";
---

<div class="relative w-fit mx-auto mt-8">
  <Image
    src="/images/matt.webp"
    alt="Matt"
    width={1080}
    height={1080}
    loading="eager"
    class="size-36 md:size-44 absolute top-0 -left-28 md:-left-36"
  />

  <h1
    class="text-5xl z-10 relative flex flex-col md:text-8xl text-center font-black tracking-tight uppercase"
  >
    <span>Matt VS</span>
    <span>Tommy</span>
  </h1>

  <Image
    src="/images/tommy.webp"
    alt="Matt"
    width={1080}
    height={1080}
    loading="eager"
    class="size-36 md:size-44 absolute top-0 -right-28 md:-right-36"
  />
</div>
