---
import data from "@/data/f1.json";
import NavLink from "@/components/globals/NavLink.astro";

const seasons = data.map((season) => season.year).sort((a, b) => b - a);
---

<header>
  <nav class="flex items-center gap-x-4 justify-center">
    {
      seasons.map((season) => (
        <NavLink
          href={`/seasons/${season.toString()}`}
          label={season.toString()}
        />
      ))
    }
  </nav>
</header>
